# Ігнорування компільованих файлів
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Ігнорування тимчасових файлів
*.tmp
*.temp
*.log
*.swp
*.swo
*.bak
*.d

# Ігнорування файлів з налаштуваннями IDE
# Visual Studio
.vscode/
