# Compiled files
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Temporary files
*.tmp
*.temp
*.log
*.swp
*.swo
*.bak
*.d

# Visual Studio
.vscode/

# Ignore exported files
exported/

# Scons db
*.dblite